/*styling */
html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background: #f5fffa;
  color: #000000;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 9%;
  background: rgba(173,216,230,0.7);
  border-bottom: 1px solid rgba(173,216,0,0.34);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items:center;
  z-index: 100;

}
.logo{
  font-size: 3rem;
  color: #000000;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}