/*styling */
html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background: #f5fffa;
  color: #000000;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 9%;
  background: rgba(173,216,230,0.7);
  border-bottom: 1px solid rgba(173,216,0,0.34);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items:center;
  z-index: 100;

}
.logo{
  font-size: 3rem;
  color: #000000;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover{
  transform: scale(1.1);
}
.navbar a{
  font-size: 1.Brem;
  color: black;
  margin-left: 3rem;
  font-weight: 500;
  transition: 0.4s ease;
  border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
  color:#f5fffa;
  border-bottom: 3px solid var(#f5fffa);
}

#menu-icon{
  font-size: 3.3rem;
  color: #f5fffa;
  display: none;
}

section{
  min-height: 100vh;
  padding: 10rem 9% 10rem;
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
